@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #9BC7E2;
}

.container{
    width: 60vw;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: #F1F6FA;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 16px #1B3333 ;
    border-radius: 8px;
}

.left h1{
    text-align: center;
    padding:  8px;
    color: #DE064F;
}
.left{
    width: 30vw;
    height: 75vh;
}
.left form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}
.right{
    width: 30vw; 
    height: 75vh;
    background-image: url('/static/images/image1.jpg');
    background-size: cover;
    border-radius: 8px;
}
.left form p{
    display: flex;
    flex-direction: column;
}
input{
    width: 23vw;
    border: none;
    height: 30px;
    outline: none;
    padding: 0 12px;
}

.container button{
    width: 15vw;
    height: 30px;
    background-color: #1B3333;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 500ms;
    margin-top: 15px;
}
.container button:hover{
    transform: scale(1.05);
    color: #000;
    background-color: #C4CCDA;
}
label{
    font-size:smaller;
}

/* nav bar style */
.nav-container{
    display: flex;
    height: 59px;
    align-items: center;
    background-color: #F1F6FA;
    gap: 25px;
    padding: 0 120px;

}
.items:nth-of-type(1){
    flex-grow: 1;
}

#logo{
    width: 50px;
}
#login{
    width: 70px;
    height: 30px;
    background-color: #DE064F;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
}
#login:hover{
    transform: scale(1.06);
    background-color: #9BC7E2;
    color: #000;
}

.nav-container .items a{
    color: #3A483F;
    font-weight: 500;
    
}

.errorlist{
    font-size: 10px;
    list-style: none;
    color: red;
    align-self: self-start;
    padding-left: 60px;
}